
div{
	padding: 20px;
	border-style: solid;
	border-color: #999;
	border-width: 1px;
	margin: 0px;
}

.clear { zoom:1; }
.clear:after { 
	content:''; 
	display:block; 
	clear:both; 
	visibility: hidden;
	}


#allContent{
	background: #eee;
	/*box-sizing: border-box;*/
	overflow: hidden;
}

#leftContent{
	 float: left;
	left: 10px;
	width: 200px;
	background: white;
}

#rightContent{
	float: right;
	right: 10px;
	width: 120px;
	background: white;
}

#middleContent{
	top: 0px;
	margin-left: 280px;
	margin-right: 200px;
	background: white;
}

#leftContent h2{
	float: right;
	margin: 0px;
	padding: 0px;
}

#rightContent img{
	/*margin-left: 20px;
	margin-right: 20px;*/
	margin: 10px 20px;
}
