body{
	height: 100%;
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EDEDED;
}

header{
	height: 56px;
	width: 100%;
	background-color: #2189BE;
}

header img{
	margin-top: 10px;
	margin-left: 50px;
	display: inline;
}


#search-login{
	position: relative;
	height: 30px;
	width: 500px;	
	display: inline-block;
	top: -15px;
	left: 688px;
}

header #search-login input[type=text]{
	width: 200px;
	height: 24px;
	border-radius: 12px;
	padding-left: 10px;
	padding-right: 10px;
}

header #search-login img{
	position: absolute;
	left: -30px;
	top: -2px;
}

header #search-login #login{
	float: right;
	color: white;
	background: url(img/login.png) no-repeat left;
	width: 100px;
	padding-left: 25px;
	border-width: 0;
}

aside{
	position: absolute;
	height: 100%;
	background-color: #2B2E3D;
	width: 260px;
}



#portrait{
	margin-top: 20px;
	margin-left: 40px;
	height: 50px;
}

#portrait .portrait-ring{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	background-color: transparent;
	display: inline-block;
}

#portrait .portrait-circle{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	margin-top: 5px;
	margin-left: 5px;
	background-color: #B9BABE;
}

#portrait p{
	color: white;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	margin-top: 15px;
	margin-left: 70px;
}

#favor-fans-wrapper{
	margin-top: 30px;
	margin-left: 40px;
	height: 60px;
}

#favor-fans-wrapper p:first-child, #favor-fans-wrapper p:last-child{
	color: #6B7B92;
	font-size: 16px;
	display: inline-block;
}

#favor-fans-wrapper div:only-of-type{
	display:inline-block;
	width: 3px;
	height: 30px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #555;
}

aside #menu_wrapper{
	margin-left: 40px;

}

aside .side-menu{
	color: #6B7B92;
	font-size: 15px;
}

aside ul .side-menu{
	list-style: none;
	margin-top: 20px;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 25px;
}

aside ul .menu_1{
	color: #EDEDED;
	background-position: 0% 3%;
	padding-top: -5px;
	background-image: url(img/share.png);
}

aside ul .menu_2{
	background-image: url(img/star.png);
}

aside ul .menu_3{
	background-image: url(img/share.png);
}

aside ul .menu_4{
	background-image: url(img/share.png);
}

aside ul .menu_5{
	background-image: url(img/share.png);
}

aside ul .menu_6{
	background-image: url(img/user_info.png);
}

#menu_wrapper .sub-menu-1{
	margin-top: 10px;
	color: #6B7B92;
}

#menu_wrapper .sub-menu-2{
	margin-top: 10px;
	color: #EDEDED;
}

#menu_wrapper .menu-img-2{
	margin-left: 6px;
}

#sub-menu-2-ul{
	list-style: none;
	margin-left: 50px;
}

#sub-menu-2-ul li:first-child{
	color: #EDEDED;
	margin-top: 10px;
	list-style-image: url(img/doc_open.png);
}

#sub-menu-2-ul li:last-child{
	margin-top: 10px;
	color: #6B7B92;
	list-style-image: url(img/doc_close.png);
}


#main-content{
	box-sizing: border-box;
	width: calc(100% - 260px);
	margin-left: 260px;
}

#main-content #content-top{
	box-sizing: border-box;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	height: 50px;
	overflow: hidden;
}

#content-top ul{
	list-style: none;
	height: 30px;
	margin-top: 10px;
}

#content-top li{
	display: inline-block;
	color: #AAA;
	line-height: 30px;
	text-align: center;
	margin-left: 10px;
}

#content-top  li:after{
	content: '/';
}

#content-top li:last-child{
	color: #69C;
}

#content-top  li:last-child:after{
	content: '';
}


#main-content-wrapper{
	box-sizing: border-box;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	width: calc(100% - 100px);
	border: 1px red dashed;
}

#query{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	background-color: white;
	padding: 10px 10px;
}

#query form{
	position: relative;
	display: inline-block;
}

#query select{
	position: relative;
	padding: 4px 8px;
	border: 1px #CBCBCB solid;
	appearance: none;
	background: url(img/blue_arrow.png) no-repeat right center;
	padding: 4px  10px;
    -moz-appearance:none;
  	-webkit-appearance:none;
}

#query span{
	display: inline-block;
	color: #B6B6B6;
	font-size: 13px;
	margin-right: 10px;
}


#query  .query-item-div{
	position: relative;
	box-sizing: border-box;
	height: 25px;
	display: inline-block;
}

#query-buyer select, #query-date select, #query-seller select, #query-volume select{
	width: 140px;
}

#query-item select, #query-consume-date select, #query-people select{
	width: 70px;
}

#query-buyer, #query-seller{
	margin-left: 20px;
}


#query-date{
	margin-left: 60px;
}

#query-consume-date{
	margin-left: 20px;
}

#query-seller{
	position: absolute;
	margin-top: 10px;
	left: 130px;
}

#query-people{
	position: absolute;
	left: 190px;
}

#query-volume{
	position: absolute;
	left: 212px;
}

#query-change{
	position: absolute;
	display: block;
	left: 335px;
	top: 12px;
}

#query-change-text{
	position: absolute;
	left: 347px;
	font-size: 13px;
	top: 21px;
	color: white;
}

#query form input[type=button]{
	position: absolute;
	background-color: #388BC1;
	right: 100px;
	top: 20px;
	padding: 5px 15px;
	color: white;
}

#price-info{
	box-sizing: border-box;
	width: 100%;
	margin-top: 10px;
	border: 1px aqua dotted;
}

#price-info div{
	height: 65px;
	display: inline-block;
	float: left;
}

#price-info .arrow-left, #price-info .arrow-right, #price-info #history-price{
	background: white;
}


#price-info .arrow-left, #price-info .arrow-right{
	width: 30px;	
}

#price-info .arrow-common{
	box-sizing: border-box;
	width: 15px;
	height: 15px;
	border: 1px solid;
	background: transparent;
	border-color: #9B9B9B transparent transparent #9B9B9B; 	
}

#price-info .arrow-left{
}

#price-info .arrow-left div{
	margin-left: 15px;
	transform: rotate(315deg);
	margin-top: 22px;
}

#price-info .arrow-right{
	margin-left: 5px;
}

#price-info .arrow-right div{
	margin-right: 15Ípx;
	transform: rotate(135deg);
	margin-top: 22px;
}

#price-info #history-price{
	margin-left: 5px;
}

#price-info #history-price p{
	display: inline-block;
	background: url(img/history.png) no-repeat left center;
	padding-left: 40px;
	height: 30px;
	line-height: 30px;
	margin: 17.5px 15px;
}

#price-info #price-list{
	
}

#price-info #price-list ol{
	height: 100%;
	
}

#price-info #price-list li{
	box-sizing: border-box;
	background: white;
	width: 113px;
	display: inline-block;
	float: left;
	margin-left: 5px;
	height: 100%;
}

#price-info #price-list li .price-time, #price-info #price-list li .price-am{
	color: #333333;
}

#price-info #price-list li .price-time{
	font-size: 12px;
}

#price-info #price-list li .price-am{
	font-size: 10px;
}

#price-info #price-list li .rmb-flag{
	color: #9B9B9B;
	font-size: 14px;
}


#price-info #price-list li .money{
	color: #E54E07;
	font-size: 20px;
}

#price-info #price-list .fisrt-line{
	margin-top: 10px;
	text-align: center;
}

#price-info #price-list .second-line{
	margin-top: 6px;
	text-align: center;
}

#price-info #history-price{
	float: right;
}

#price-info #price-list ol li:first-child{
	border-top: #3673BD;
	border-top-width: 3px;
	border-top-style: solid;
}


#statics-wrapper{
	box-sizing: border-box;
	border: blueviolet 1px solid;
	margin-top: 20px;
}

#statics-wrapper h3{
	font-size: 12px;
	color: #333333;
}

#statics{
	display: table;
	width: 100%;
	margin-top: 4px;
}

#statics .statics-box{
	box-sizing: border-box;
	display: table-cell;
	height: 65px;
}


#statics .statics-1{
	box-sizing: border-box;
	background: white;
	margin-right: 20px;
	height: 100%;
}

#statics .statics-2, #statics .statics-3{
	box-sizing: border-box;
	background: white;
	margin: 0 10px;
	height: 100%;
}

#statics .statics-4{
	box-sizing: border-box;
	background: white;
	margin-left: 20px;
	height: 100%;
}

.statics-box   .statics-text{
	box-sizing: border-box;
	float: left;
	margin-top: 10px;
}



#statics .statics-date{
	color: #666;
	font-size: 10px;
	margin-left: 15px;
	display: inline-block;
}

#statics .volume{
	color: #999999;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 15px;
}

#statics .rectangle{
	float: right;
	width: 70px;
	height: 50px;
	margin-right: 20px;
	margin-top: 8px;
}

#statics .statics-1{
	border-left: 3px solid #44B29E;
}

#statics .rect-1{
	background-color: #44B29E;
}

#statics .statics-2{
	border-left: 3px solid #388AC1;
}

#statics .rect-2{
	background-color: #388AC1;
}

#statics .statics-3{
	border-left: 3px solid #d04a36;
}

#statics .rect-3{
	background-color: #d04a36;
}


#statics .statics-4{
	border-left: 3px solid #E2CD46;
}

#statics .rect-4{
	background-color: #E2CD46;
}


#first-prj-wrapper{
	box-sizing: border-box;
	width: 100%;

	margin-top: 20px;
}


/*#first-prj-table{
	box-sizing: border-box;
	width: calc(66% - 10px);
	border: 1px dodgerblue dottedc;
}*/

#first-prj-table{
	box-sizing: border-box;
	width: calc(60% - 10px);
	float: left;
	border-radius: 10px;
	height: 360px;
	background-color: white;
}


#first-prj-table h3, #second-prj-table h3, #left-calendar h3, #right-car h3{
	padding: 10px;
	font-size: 12px;
	color: #AAAAAA;
	background-color: #F4F5F7;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


#first-prj-box ol{
	position: relative;
	width: 100%;
	margin-left: 20px;
	margin-top: 10px;
	z-index: 2;
}

#first-prj-box ol li{
	list-style: none;
	float: left;
	display: list-item;
	width: calc(20% - 30px);
	background-color: #EDEFF1;
	margin-left: 5px;
	border: 1px solid #EDEFF1;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#first-prj-box ol li:first-child{
	background-color: white;
	border:1px solid #CACBCB;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: none;
}


#first-prj-box input{
	display: none;
}

#first-prj-table table{
	border-collapse: collapse;
}


#first-prj-table table tr td{
	border: 1px solid #ddd;
}

#table-menu1{
	box-sizing: border-box;
	display: block;
	position: absolute;
	z-index: 1;
	border:1px solid #CACBCB;
	margin-top: 4px;
	left: 5px;
}

#table-menu1 table{
	margin: 20px 30px;
}

#first-prj-box .table-menu  td{
	font-size: 12px;
	color: #666;
	padding: 10px 20px;
}

#second-prj-table{
	box-sizing: border-box;
	width: calc(40% - 10px);
	float: right;
	border-radius: 10px;
	height: 360px;
	background-color: white;
}

#second-prj-box{
	margin-left: 30px;
	margin-top: 10px;
}

#second-prj-box .prj-title{
	font-size: 15px;
	color: #999;
}

#second-prj-box  .prj-content{
	font-size: 15px;
	color: #333;
}

#second-prj-mid{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 55px;
	border: 1px solid #B6B6B6;
	border-left: none;
	border-right: none;
	margin-right: 30px;
}

#second-prj-mid .price{
	position: absolute;
	display: block;
	width: 60px;
	top: 5px;
	left: 10px;
	height: 20px;
}

#second-prj-mid .price-content{
	position: absolute;
	display: block;
	width: 60px;
	top: 28px;
	left: 10px;
	height: 20px;
}

#second-prj-mid .charge{
	position: absolute;
	display: block;
	width: 60px;
	top: 5px;
	left: 80px;
	height: 20px;
}

#second-prj-mid .charge-content{
	position: absolute;
	display: block;
	width: 60px;
	top: 28px;
	left: 80px;
	height: 20px;
}

#second-prj-box .line{
	position: absolute;
	width: 1px;
	height: 55px;
	background-color: #B6B6B6;
	left: 70px;
}

#second-prj-box form{
	display: block;
	margin-top: 100px;
	border: 1px solid #B6B6B6;
	border-bottom: none;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	margin-right: 30px;
}


#second-prj-box label{
	font-size: 15px;
	color: #999;
}

#second-prj-box input[type=button]{
	background: #388BC1;
	padding: 3px 10px;
	color: white;
	border-radius: 5px;
	border: 1px solid transparent;
	float: right;
	font-size: 12px;
}

#car-calendar-wrapper{
	box-sizing: border-box;
	width: 100%;
	height: 360px;
	margin-top: 20px;
	border: 1px blue solid;
}

#left-calendar{
	box-sizing: border-box;
	float: left;
	background-color: white;
	width: calc(40% - 10px);
	height: 100%;
	border-radius: 10px;
}


#left-calendar li{
	display: inline-block;
	width: calc(25% - 15px);
	font-size: 8px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

#left-calendar li:first-child{
	margin-left: 20px;
}


#left-calendar select{
	box-sizing: border-box;
	font-size: 10px;
	width: 100%;
}

#left-calendar table{
	margin-left: 20px;
	
}

#left-calendar table td{
	box-sizing: border-box;
	width: 45px;
	height: 45px;
	border: 1px red solid;
	text-align: center;
}

#left-calendar .solar{
	display: block;
	font-size: 10px;
	color: #333;
}

#left-calendar .lunar{
	display: block;
	font-size: 10px;
	color: #333;
}

#left-calendar .festival{
	color: #C8171D;
}

#left-calendar .weekday .lunar{
	color: #CE3538;
}


#right-car{
	box-sizing: border-box;
	float: right;
	background-color: white;
	width: calc(60% - 10px);
	height: 100%;
	border-radius: 10px;
}
