html, body, div{
	padding: 0px;
	margin: 0px;
}


html, body{
	width: 100%;
	height: 100%;
}


#rectangle_bg{
	width: 400px;
	height: 200px;
	background: #ccc;
	position: relative;
	margin: 0 auto;
	top: 50%;
	margin-top: -100px;
}
.top_left_quarter_circle{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	border-radius: 0 0 50px 0;
	background: #fc0;
}


.bottom_right_quarter_circle{
	position: absolute;
	top: 150px;
	left: 350px;
	width: 50px;
	height: 50px;
	border-radius:50px 0 0 0;
	background: #fc0;
}
