body{
	background: grey;
}

#all_content{
	width: 980px;
	height: 1368px;
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
}


#up_content{
	position: relative;
	left: 49px;
	border: 1px red dashed;
	width: 892px;
}
.top_most_width_line{
	position: relative;
	background: #938e8c;
	width: 100%;
	height: 2px;
	top: 61px;
}


.top_text_div{
	margin-top: 40px;

}
.top_text_left{
	position: relative;
	font-size: 12px;
	font-family: simhei;
	color: white;
	z-index: 1;
}

.top_text_right{
	float: right;
	color: #d45d5c;
}

#top_left_red_box{
	position: absolute;
	background-color: red;
	height: 61px;
	width: 110px;
	top: 0px;
}

.up_middle_div{
	position: relative;
	top: 40px;
	width: 892px;
}

#img_left_layer{
	width: 191px;
	height: 301px;
	background-color: #496447;
	opacity: 0.5;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#img_right_layer{
	width: 191px;
	height: 301px;
	background-color: #BD8E90;
	opacity: 0.5;
	position: absolute;
	left: 450px;
	top: 0px;
	z-index: 1;
}


#up_middle_right_div{
	position: absolute;
	width: 203px;
	height: 301px;
	border: dotted blue 1px;
	top: 0px;
	right: 0px;
	
}

.up_red_right_line{
	position: relative;
	height: 2px;
	background-color: #cc8091;
}

.up_red_right_text_div{
	/*text-decoration: underline;*/
}

.up_red_right_text_div p{
	font-size: 24px;
	color: #000000;
	font-family: "微软雅黑";
	/*text-decoration: underline;*/
	line-height: 24px;
	border-bottom: 1px #000000 solid;
	padding: 0px;
	display: inline-block;
	margin-bottom: 10px;
}

.up_red_right_text_div p:first-letter{
	font-size: 30px;
}

.top_right_12{
	font-size: 12px;
	color: #676767;
	font-family: "楷体";
	line-height: 15px;
}

.top_right_116{
	font-size: 116px;
	color: #75b86b;
	font-family: "微软雅黑";
	font-style: italic;
}

.up_right_bottom_common{
	font-family: "微软雅黑";
	color: #cc8091;
}

.u_r_b_55{
	float: left;
	font-size: 55px;
}

.up_right_bottom_div{
	margin-top: 30px;
}

#u_r_b_right{
	padding-left: 5px;
	padding-top: 15px;
	float: left;
}

.u_r_b_21{
	font-size: 21px;
}

.u_r_b_12{
	
	font-size: 12px;
}

 .clearContent { 
    /**  触发 hasLayout，关于IE的一个特性，但是这个其实我好不了解 **/
    zoom:1; 
 }
.clearContent:after { 
    content:''; 
    display:block; 
    clear:both; 
    visibility: hidden;
}
    
#middle_text_div{
	display: table;
	width: 641px;
	margin-left: 49px;
	margin-top: 20px;
	margin-top: 60px;
	border: 1px groove blue;
}

#middle_text_row{
	display: table-row;
}

.mid_first_div,.mid_second_div,.mid_third_div{
	display: table-cell;
	padding-right: 20px;
	width: 33%;
}
.mid_text_title{
	font-size: 16px;
	font-family: "微软雅黑";
	text-decoration: underline;
	font-weight: bold;
}

.mid_text_summary{
	font-size: 12px;
	line-height: 16px;
	margin-top: 10px;
}

.mid_first_title{
	color: #418c59;
}

.mid_first_summary{
	color: #767777;
	font-family:  simsun;
}

.mid_second_title{
	color: #d2994f;
}

.mid_second_summary{
	color: #281815;
	font-family: "微软雅黑";
	opacity: 0.7;
}

.mid_third_title{
	color: #cc7680;
}

.mid_third_summary{
	font-style: italic;
	opacity: 0.7;
}

.mid_text_bottom{
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 16px;
}

.mid_text_bottom_percent{
	color: #CD4A48;
	font-style: italic;
	opacity: 0.7;
}

.mid_text_bottom_div{
	margin-top: 20px;
}
