body{
	width: 1280px;
	margin: 0px auto;
	background-color: white;
}

nav{
	position: fixed;
	top: 0;
	left: 0px;
	height: 60px;
	border: 1px aqua solid;
	width: 100%;
	z-index: 10;
	background-color: white;
}

#logo_new_word{
	position: absolute;
	top: 15px;
	left: 80px;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: left ;
	background-size: 30px 30px;
	font-size: 20px;
	padding-left: 30px;
	height: 30px;
	text-align: center;
	width: 10%;
	font-weight: bolder;
}

#login{
	position: absolute;
	right: 100px;
	top: 21px;
	background-image: url(img/person.png);
	background-repeat: no-repeat;
	background-position: left;
	font-size: 10px;
	text-align: center;
	padding-left: 20px;
	color: orangered;
}

#nav_ul_box{
	height: 60px;
	margin-right: 200px;
	float: right;
	border: 1px aqua dotted;
}

#li_underline{
	position: absolute;
	bottom: 0px;
	height: 3px;
	width: 60px;
	background-color: red;
}

nav ul{
	list-style: none;
	margin-top: 18px;
}

nav ul li{
	display: inline-block;
	width: 80px;
	font-size: 10px;
}

nav ul li a{
	text-decoration: none;
	color: #676767;
}

header{
	position: relative;
	margin-top: 60px;
}

#banner_mask{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
}

#banner_form{
	position: absolute;
	z-index: 2;
	top: 450px;
	left: 100px;
	max-width: 700px;
	border: blueviolet dashed 1px;
}

#time_new_life{
	font-size: 60px;
	line-height: 80px;
	font-weight: bolder;
	color: white;
}

#time_new_life_summary{
	font-size: 20px;
	display: block;
	max-width: 300px;
	color: white;
	line-height: 25px;
}

input[type=button]{
	color: white;
	text-align: center;
	font-size: 30px;
	width: 350px;
	height: 60px;
	background-color: #E8504F;
	margin-top: 50px;
	border: none;
}

#intro_wrap{
	width: 1280px;
	margin: 0 auto;
	height: 250px;
}

.intro_box{
	display: inline-block;
	width: 24%;
}

.intro_box img{
	display: block;
	margin: 45px auto;
}

.content_wrap{
	border-left: 2px #767777 solid;
}

.intro_content{
	width: 155px;
	margin: 0 auto;
	text-align: center;
	color: #767777;
	font-size: 14px;
}

#intro_wrap .intro_box:first-child .content_wrap{
	border-left: none;
}

#search_city{
	border: chartreuse 1px double;
}

#search_top{
	height: 350px;
	background-color: #EDEDED;
}

#search_top img{
	display: block;
/*	margin: 129px auto;*/
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#search_top p{
	font-size: 60px;
	width: 100%;
	text-align: center;
	color: #9F9F9F;
	margin-top: 50px;
}

#search_bottom{
	position: relative;
}

#search_bottom img{
	position: absolute;
	z-index: -1;
}

#search_bottom .search_title{
	padding-top: 50px;
	color: #FFF7EE;
	font-size: 25px;
	text-align: center;
}

#search_bottom  .search_line{
	width: 30px;
	background-color: #FFFCFF;
	height: 3px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#search_bottom .search_summary{
	margin-top: 20px;
	color: #FAEDE7;
	font-size: 12px;
	text-align: center;
}

#search_city form{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	border: darkcyan 1px groove;
}

#search_city form select{
	width: 200px;
	height: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

#search_city input[type=button]{
	width: 200px;
	height: 30px;
	color: white;
	font-size: 15px;
}

#activity_div{
	width: 100%;
	margin-top: 200px;
	border: fuchsia 1px solid;
	background-color: #F8F8F8;
	display: table;
}

.activity_wrap{
	border: olive 1px dotted;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.activity_wrap img{
	margin-top: 10px;
	text-align: center;
}


#activity_div .activity_wrap .activity_title{
	color: black;
	margin-top: 20px;
	font-size: 15px;
	text-align: center;
}

#activity_div .activity_wrap .activity_summary{
	color: #999999;
	font-size: 8px;
	text-align: center;
	margin-top: 10px;
}

#activity_div .activity_wrap .act_title_2{
	margin:0;
	padding: 0px;
}

#activity_div .activity_wrap .act_summary_2{
	
}

#gallery{
	margin-top: 100px;
	/*height: 479px;*/
	background-color: white;
}

#pic_container{
	width: 66.4%;
	float: left;
	display: inline-block;
}

#pic_container img{
	width: 100%;
	height: 100%;
}

#pic_container img:nth-of-type(2), #pic_container img:nth-of-type(3){
	display: none;
}

#gallery_text{
	position: absolute;
	width: 40%;
	margin: 50px auto;
	color: white;
	text-align: center;
	top: 2500px;
	z-index: 1;
	left: 200px;
}


#gallery_text p{
	font-size: 80px;
}

#gallery_text h3, #gallery_text p, #gallery_text h1{
	margin-top: 20px;
	color: white;
}


#text_container{
	float: right;
	width: 33.6%;
	height: 100%;
}

#text_container h2{
	text-align: center;
	padding-top: 150px;
}

#text_container h2 span{
	color: red;
}

.gallery_summary{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	line-height: 30px;
	color: #999999;
	margin-top: 20px;
}

#text_container>a{
	width: 100px;
	color: #E8504F;
	border: 1px #E8504F solid;
	text-align: center;
	margin: 20px auto;
	text-decoration: none;
	display: block;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.switch{
	width: 108px;
	height: 20px;
	margin: 0 auto;
}

.switch a{
	width: 10px;
	height: 10px;
	border: 1px solid #929292;
	border-radius: 6px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	display: inline-block;
}

.switch a:first-child{
	background-color: #929292;
}

#life{
	width: 100%;
}

#life_1{
	background: #E8504F;
}

#life_2{
	background: white;
}

.life_box{
	height: 520px;
	float: left;
	width: 33.2%;
	margin-top: -3px;
}


.life_text_common{
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}

.life_line{
	width : 40px;
	height: 2px;
	margin: 10px  auto;
}

#life_img_box{
	width: 33.6%;
	height: 520px;
	float: right;
}



.text_1{
	color: white;
}

.text_2{
	color: #333333;
}

.line_1{
	background-color: white;
}

.line_2{
	background-color: #666666;
}

.life_box p a{
	text-decoration: none;
	text-align: center;
	border: 1px solid black;
	padding: 5px  20px;
}

.life_box p:first-child{
	margin-top: 150px;
}

.life_box p:last-child{
	margin-top: 20px;
}
