@charset "utf-8";
html,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
header,
div,
footer,
ul {
    margin: 0;
    padding: 0;
    font-family: microsoft yahei, Verdana, Arial, Helvetica, sans-serif;
    color: black;
}


.clearContent {
    /**  触发 hasLayout，关于IE的一个特性，但是这个其实我好不了解 **/
    zoom:1;
}
.clearContent:after {
    content:'';
    display:block;
    clear:both;
    visibility: hidden;
}